.chips-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.search-item-card {
  box-shadow: var(--navbar-shadow);
  background: var(--white);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.search-item-card:hover {
  /* box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
  transform: translateY(-2px); */
}

.search-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.card-title {
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--darkest);

}



.card-title:hover {
    color: var(--primary-color);

}

.icon-wrapper {
    justify-content: center;
    display: flex;
    gap: 0.75rem;
}

.header-icon {
    color: #1976d2;transform: translatey(4px);
}